body{
  background-color:#220901;
  text-align: center;
}


h1{
    text-align: center;
    color:#e7e77d;
    text-shadow: 1px 1px #e7e77d;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;

}

.container{
  height:70vh;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box{
  height:60vmin;
  width:60vmin;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.button{
  height:18vmin;
  width:18vmin;
  border:none;
  font-size: 40px;
}

.reset{
  font-size: 30px;
  font-family:cursive;
  padding:10px;
  background-color: rgb(23, 23, 23);
  color:#fff;
  border-radius:2px 2px 2px 2px;
}